
::ng-deep body.dark {
  background-color: darkblue;
}
::ng-deep body.bright {
  background-color: aqua;
}
h1 {
  text-align: center;
  color: #ffd111;
  font-size: 120px;
  font-family: pokeFont, serif;
  margin: -120px 0 0 0;
  user-select: none;
}
div.container {
  text-align: center;
  margin: -50px;
  font-weight: bold;
  color: aliceblue
}
.mat-radio-button {
  margin: 10px;
}
