:host {
  display: inline-block;
  text-align: center;
  width: 90%;
  max-width: 1400px;
}
img.title {
  display: block;
  margin: 20px auto;
  width: 30%;
  min-width: 200px;
}
div.content {
  margin-top: 30px;
}
